<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/criar-conta.css}">
    <title>Criar Conta</title>
</head>
<body>
    <div class="container-principal">
        <h2 class="form-title">Criar Conta</h2>
        <form action="#" method="post" class="form-create">
            <input type="text" class="form-field" placeholder="Nome">
            <input type="text" class="form-field" placeholder="Email">
            <input type="text" class="form-field" placeholder="Senha">
            <input type="text" class="form-field" placeholder="Confirmar Senha">
            <button type="submit" class="form-buttom">Cadastrar</button>
        </form>
    </div>
</body>
</html>