<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/modelo.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Modelo indicado</title>
</head>
<body>
    <div class="container-principal">
        <h2 class="modelo-title">Modelo indicado</h2>
        <img src="./images/scaniaeletrico.jpg" alt="modelo-img" class="modelo-img">
        <h4 class="modelo-nome">Nome do modelo</h4>
        <h3 class="modelo-adquirir">Como adquirir?</h3>
        <p class="link-scania"><i class="fa-solid fa-globe icon"></i>www.scania.com/br...</p>
        <p class="link-scania"><i class="fa-solid fa-envelope icon"></i>contatoscania@scania.com</p>
    </div>
</body>
</html>